.u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 18px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 985px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  width: 527px;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 549px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 45px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 570px;
  margin: -526px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  min-height: 530px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(17, 17, 17) !important;
  margin: 50px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(17, 17, 17) !important;
  margin: 50px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 50px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  width: 527px;
  margin: 31px auto 59px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 450px;
    object-position: 41.45% 50%;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 397px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 53px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 508px;
  min-height: 485px;
  margin: -525px 0 93px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0 105px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3 .u-image-1 {
    width: 587px;
    height: 544px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -485px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-3 .u-image-1 {
    height: 485px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 418px;
    margin-top: 20px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-image-1 {
    height: 346px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-image-1 {
    height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 390px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 811px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 790px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 653px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-4 .u-image-1 {
  height: 413px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 35px auto 0 0;
  padding: 10px 30px 10px 29px;
}

.u-section-4 .u-list-1 {
  width: 350px;
  margin: -530px 0 -98px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 572px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 35px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 51px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 0 0 51px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 35px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 51px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 0 0 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 590px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-top: -590px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 710px;
    margin: 20px auto -98px 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: -532px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-bottom: 31px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 41px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 41px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 41px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 41px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-5 .u-image-1 {
  width: 648px;
  min-height: 969px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: 60px 116px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -293px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  grid-gap: 31px 31px;
  min-height: 399px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 534px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 775px;
    height: 709px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    grid-gap: 33px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-5 .u-image-1 {
    width: 632px;
    min-height: 950px;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-5 .u-image-2 {
    width: 664px;
    height: 664px;
    margin-top: -889px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -298px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-5 .u-image-1 {
    min-height: 890px;
    width: 483px;
    margin-top: 51px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 478px;
    height: 478px;
    margin-top: -830px;
  }

  .u-section-5 .u-list-1 {
    width: 516px;
    margin-top: -136px;
    margin-bottom: 213px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-5 .u-image-1 {
    width: 309px;
    min-height: 652px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -616px;
  }

  .u-section-5 .u-list-1 {
    width: 300px;
    margin-top: -52px;
    margin-bottom: 130px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/e198f6429544fdc2d11b7809eec3479a5c34e016928abc2a61a60f694489783fb3df71badb3702b8a150fcc415ba8c2fb1ff8a4eb3a94030207843_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 908px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: normal;
  text-decoration: none solid rgb(241, 197, 14);
  margin: 74px 653px 0 31px;
}

.u-section-6 .u-list-1 {
  margin-top: 349px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 251px;
  grid-gap: 22px 22px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 77px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-7 {
  background-image: url("images/0d928b82daba970160f12f7a2b18c6afae0d664b6ed60a5e7c62b5cf135748b4f7c317ad022587edfa914f59b1f4bc444f5b8cc567ed2e8cf545c3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 772px;
}

.u-section-7 .u-text-1 {
  margin: 130px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  width: 1068px;
  margin: 130px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 253px;
  grid-gap: 22px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 50px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  width: 84px;
  height: 84px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 50px auto 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  width: 84px;
  height: 84px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 50px auto 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  width: 84px;
  height: 84px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-7 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 50px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-8 .u-shape-1 {
  background-image: none;
  height: 567px;
  width: 784px;
  margin: 186px 0 0 auto;
}

.u-section-8 .u-image-1 {
  width: 560px;
  min-height: 615px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: -318px auto 0 43px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 627px;
  width: 856px;
  margin: -990px 72px 0 auto;
}

.u-section-8 .u-group-2 {
  width: 536px;
  min-height: 480px;
  margin: -197px auto 60px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 40px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-family: Barlow;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 7px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    width: 531px;
    min-height: 614px;
    margin-left: 72px;
  }

  .u-section-8 .u-image-2 {
    height: 559px;
    width: 727px;
    margin-top: -989px;
  }

  .u-section-8 .u-group-2 {
    margin-top: -129px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-8 .u-shape-1 {
    height: 479px;
    width: 582px;
    margin-top: 193px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -237px;
  }

  .u-section-8 .u-image-2 {
    height: 530px;
    width: 606px;
    margin-right: 48px;
  }

  .u-section-8 .u-group-2 {
    margin-top: -100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-8 .u-shape-1 {
    height: 378px;
    width: 454px;
    margin-top: 60px;
  }

  .u-section-8 .u-image-1 {
    width: 505px;
    min-height: 545px;
    margin-top: -136px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 455px;
    width: 476px;
    margin-top: -980px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-8 .u-group-2 {
    width: 480px;
    min-height: 413px;
    margin-top: 35px;
    margin-bottom: -56px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-8 .u-shape-1 {
    height: 257px;
    width: 305px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-8 .u-image-1 {
    width: 305px;
    min-height: 426px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-8 .u-image-2 {
    height: 310px;
    width: 305px;
    margin-top: -861px;
    margin-left: 0;
  }

  .u-section-8 .u-group-2 {
    width: 305px;
    min-height: 446px;
    margin-top: 50px;
    margin-bottom: -88px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
}.u-section-9 {
  min-height: 795px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 795px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 196px 0 0 60px;
}

.u-section-9 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
  margin: 60px 176px 0 60px;
}

.u-section-9 .u-image-1 {
  min-height: 795px;
  background-image: url("images/oBwOGhB-assassins-creed-hd-wallpaper.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 500px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 656px;
    background-position: 50% 50%;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 0;
    font-size: 4.5rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 656px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 383px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-9 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 68px;
  }

  .u-section-9 .u-image-1 {
    min-height: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 287px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 280px;
  }

  .u-section-9 .u-image-1 {
    min-height: 628px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 181px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 80px;
  }

  .u-section-9 .u-text-2 {
    margin-right: auto;
  }

  .u-section-9 .u-image-1 {
    min-height: 474px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-10 .u-text-1 {
  margin: 661px 244px 60px 357px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 144px;
    margin-left: 257px;
  }

  .u-section-10 .embed-responsive-1 {
    width: 100%;
    left: 0%;
    height: 1671%;
    top: -786%;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 34px;
    margin-left: 147px;
  }

  .u-section-10 .embed-responsive-1 {
    height: 1280%;
    top: -590%;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-10 .embed-responsive-1 {
    height: 960%;
    top: -430%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .embed-responsive-1 {
    height: 604%;
    top: -252%;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 946px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 826px;
}

.u-section-11 .u-container-layout-1 {
  padding: 50px;
}

.u-section-11 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 92px 0 0;
}

.u-section-11 .u-image-1 {
  width: 439px;
  height: 439px;
  background-image: url("images/UnrealEngine_11_18_UE_Feed_Migration_Images_FEED_THUMB_UE_Logo_Generic-1400x788-c11642ffb55e268095321f5eb144f469beb0074f.jpg");
  background-position: 50% 50%;
  margin: 44px auto 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 826px;
}

.u-section-11 .u-container-layout-2 {
  padding: 50px 60px 50px 80px;
}

.u-section-11 .u-image-2 {
  height: 359px;
  object-position: 50% 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px 0 0 auto;
}

.u-section-11 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  margin: 44px 0 0 auto;
  padding: 16px 48px 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-11 .u-image-1 {
    width: 370px;
    height: 370px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 681px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 60px;
  }

  .u-section-11 .u-image-2 {
    height: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-11 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-11 .u-image-2 {
    height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-11 .u-image-1 {
    width: 406px;
    height: 406px;
    margin-right: 74px;
  }

  .u-section-11 .u-image-2 {
    height: 411px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-image-1 {
    height: auto;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-image-2 {
    height: 274px;
  }
}.u-section-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/842583.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 629px;
}

.u-section-12 .u-group-1 {
  width: 597px;
  min-height: 457px;
  background-image: none;
  margin: 60px auto 60px -27px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-12 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 50px auto 0 30px;
}

.u-section-12 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 22px 0 0 20px;
}

.u-section-12 .u-text-3 {
  margin: 42px 0 0 20px;
}

.u-section-12 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  text-transform: none;
  font-family: Poppins;
  background-image: none;
  margin: 30px auto 0 30px;
  padding: 12px 31px 12px 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-12 .u-group-1 {
    width: 460px;
  }

  .u-section-12 .u-text-2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-12 {
    background-position: 66% 84.71%;
    background-size: auto 105%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-12 .u-group-1 {
    width: 367px;
    margin-left: 0;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-2 {
    font-size: 2.375rem;
    margin-left: 0;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
  }

  .u-section-12 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 {
    background-position: 79.59% 53.65%;
    background-size: auto 125%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-12 .u-group-1 {
    width: 277px;
    margin-top: 187px;
    margin-bottom: 0;
  }

  .u-section-12 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 500px;
}

.u-section-13 .u-layout-wrap-1 {
  margin: 50px 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-13 .u-container-layout-1 {
  padding: 20px;
}

.u-section-13 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-13 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-13 .u-text-1 {
  margin: 0;
}

.u-section-13 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 946px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 826px;
  background-image: none;
}

.u-section-14 .u-container-layout-1 {
  padding: 50px;
}

.u-section-14 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 137px 0 0;
}

.u-section-14 .u-image-1 {
  width: 439px;
  height: 439px;
  margin: 44px auto 0 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 826px;
}

.u-section-14 .u-container-layout-2 {
  padding: 50px 60px 50px 80px;
}

.u-section-14 .u-image-2 {
  height: 359px;
  object-position: 50% 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-14 .u-text-3 {
  margin: 20px 0 0 auto;
}

.u-section-14 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-14 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  margin: 44px 0 0 auto;
  padding: 16px 48px 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-14 .u-image-1 {
    width: 370px;
    height: 370px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 681px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 60px;
  }

  .u-section-14 .u-image-2 {
    height: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-14 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-14 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-14 .u-image-2 {
    height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-14 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-14 .u-image-2 {
    height: 411px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-image-2 {
    height: 274px;
  }
}.u-section-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/wp4001884-minions-4k-wallpapers.jpg");
  background-position: 50% 50%;
}

.u-section-15 .u-sheet-1 {
  min-height: 629px;
}

.u-section-15 .u-group-1 {
  width: 597px;
  min-height: 457px;
  background-image: none;
  margin: 60px auto 60px -27px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-15 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 52px auto 0 30px;
}

.u-section-15 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.u-section-15 .u-text-3 {
  margin: 42px 0 0 20px;
}

.u-section-15 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  text-transform: none;
  font-family: Poppins;
  background-image: none;
  margin: 30px auto 0 30px;
  padding: 12px 31px 12px 30px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-15 .u-group-1 {
    width: 460px;
  }

  .u-section-15 .u-text-2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-15 {
    background-position: 66% 84.71%;
    background-size: auto 105%;
  }

  .u-section-15 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-15 .u-group-1 {
    width: 367px;
    margin-left: 0;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-15 .u-text-2 {
    font-size: 2.375rem;
    margin-left: 0;
  }

  .u-section-15 .u-text-3 {
    margin-left: 0;
  }

  .u-section-15 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-15 {
    background-position: 79.59% 53.65%;
    background-size: auto 125%;
  }

  .u-section-15 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-15 .u-group-1 {
    width: 277px;
    margin-top: 187px;
    margin-bottom: 0;
  }

  .u-section-15 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 615px;
}

.u-section-16 .u-text-1 {
  width: 489px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-16 .u-text-2 {
  font-size: 1.125rem;
  width: 628px;
  margin: 20px auto 0;
}

.u-section-16 .u-layout-wrap-1 {
  width: 1140px;
  margin: 44px auto 60px;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-16 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-16 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 8px 0;
}

.u-section-16 .u-text-4 {
  margin: 20px 17px 0 0;
}

.u-section-16 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-16 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-16 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-16 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-16 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-16 .u-layout-cell-3 {
  min-height: 322px;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-16 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-16 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-16 .u-text-7 {
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-16 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-text-4 {
    margin-right: 0;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-16 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-16 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-16 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-16 .u-text-2 {
    width: 540px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 168px;
}

.u-section-17 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-17 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-17 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-17 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-17 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-17 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-17 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-17 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-17 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-17 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-17 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-17 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 64px;
  }
}